<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Choose Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map-wrapper">
    <div #mapElement id="map"></div>
    <img src="assets/images/pin.png" class="map-pin" />
  </div>


</ion-content>

<ion-footer class="pay-footer">
  <ion-row>
    <ion-col size="12">
      <ion-button class="btn btn-primary search-button content_button" type="button" (click)="confirmLocation()">
        <i class="fa fa-forward" aria-hidden="true"></i> Confirm Location
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>