ion-card-title {
    font-size: 14px;
}

ion-card-header {
    padding-bottom: 0px;
}

.car-type {
    position: absolute;
    right: 20px;
    top: 0px;
}

.trip-text {
    font-size: 14px;
    color: red;
    font-weight: 600;
}