<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="reloadTab('home')">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="assets/images/sunbed.png" />
      </ion-thumbnail>
      VACATION
    </ion-tab-button>
    <ion-tab-button tab="byhour" (click)="reloadTab('byhour')">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="assets/images/timer.png" />
      </ion-thumbnail>
      BY THE HOUR
    </ion-tab-button>
    <ion-tab-button tab="oneway" (click)="reloadTab('oneway')">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="assets/images/one-way.png" />
      </ion-thumbnail>
      ONE WAY
    </ion-tab-button>
    <ion-tab-button tab="round" (click)="reloadTab('round')">
      <ion-thumbnail>
        <img alt="Silhouette of mountains" src="assets/images/exchange.png" />
      </ion-thumbnail>
      ROUND TRIP
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>